/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
    margin-top: 2em;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

p {
text-align: justify;
}

.img-full {
  margin-bottom: -0.5rem;
  margin-top: 2rem;
  max-width:none;
}

.img-left {
  float: left;
  margin-bottom: -0.5rem;
  max-width: 50%;
}

.img-right {
  float: right;
  margin-bottom: -0.5rem;
  max-width: 50%;
}


// Profile
.profile {
  img {
    width: 100%;
  }
}

// article
article {
  padding-left: 1rem;
  padding-right: 1rem;
}

// ORCiD 

.orcid {
  width: 0.8em;
}

// Fun badge

.bigbadge{
  display: inline-block;
  padding: .25em .4em;
  font-size: 125%;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .5rem;
  color: var(--global-text-color-light);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

.content-section {
  display: flex;
  justify-content: center; /* Keeps children centered horizontally */
  align-items: center; /* Aligns children vertically */
  margin: auto; /* Center the content-section horizontally */
  max-width: 1200px; /* Limits the maximum width */
}

.text-content, .img-right {
  flex: 1; /* Each takes equal space */
  padding: 20px; /* Adds spacing around each section */
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers content within */
  text-align: left; /* Keeps text left-aligned */
}

.img-right {
  display: flex;
  flex-direction: column; /* Organizes the image and the caption in a vertical stack */
  align-items: center; /* Aligns the image and caption centrally within the column */
  padding-right: 40px; /* Adds padding to the right for space from the center */
}

.img-right img {
  width: 100%; /* Full width of its container to maintain responsiveness */
  height: auto; /* Keeps the aspect ratio intact */
}

.caption {
  text-align: center; /* Centers caption text */
  padding-top: 10px; /* Optional: Adds some space between the image and caption */
  width: auto; /* Ensures the caption width matches the image width if needed */
//  max-width: calc(100% - 80px); /* Adjusts max-width if padding affects alignment */
}


